{% extends "base.html.twig" %}

{% block title %}Marques
{% endblock %}

{% block body %}


	<h1>Liste des marques</h1>

	{% if marques is empty %}
		<p class="alert alert-danger">Aucune marque trouvée</p>
	{% else %}
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Nom</th>
					<th>Pays</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for marque in marques %}
					<tr>
						<td>{{ marque.id }}</td>
						<td>{{ marque.nom }}</td>
						<td>{{ marque.pays }}</td>
						<td>
							<a class="btn btn-success" href="{{ path('marque_show', {slug: marque.slug }) }}">Détails</a>

							<a class="btn btn-warning" href="{{ path('marque_modify', {slug: marque.slug }) }}">Modifier</a>

							<a class="btn btn-danger" onclick="return confirm('Confirmez-vous ?')" href="{{ path('marque_delete', {slug: marque.slug }) }}">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	<a class="btn btn-primary mt-4" href="{{ path('marque_new') }}">Ajouter une marque</a>

{% endblock %}
